div#deck-tracker
  select(data-ng-model="selectedZone")
    option(value="deck") Deck
    option(value="hand") Hand
    option(value="play") In Play
    option(value="grave") Graveyard
  h1 {{selectedZone}}
