body {
  background-color: #444;
  color: #fff;
  padding: 25px;
}
.card-image {
  width: 170px;
  margin: 5px;
  display: inline-block;
  img {
    width: 150px;
  }
  border: solid 1px #000;
  border-radius: 10px;
  padding: 5px;
  background-color: #777;
}
