doctype html
html(data-ng-app="app")
  head
    link(href="./lib/bootstrap/dist/css/bootstrap-theme.css", rel="stylesheet")
    link(href="./lib/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="./css/app.css", rel="stylesheet")
    script(src="http://localhost:35729/livereload.js")
    script(src="./lib/jquery/dist/jquery.js")
    script(src="./lib/angular/angular.js")
    script.
      // Clear module cache so livereload works with required modules.
      Object.keys(global.require.cache).forEach(function (key) {
        delete global.require.cache[key];
      });
      var app = angular.module('app', []);
      app.controller('sandbox', require('./js/controllers/sandbox.js'));
      app.filter('collectible', require('./js/filters/collectible.js'));
  body(data-ng-controller="sandbox")
    img(src="./imgs/GVG_030.png")
